
<li @key="server.Id" style="background-color:@GetBackgroundColor()">
    Server is @server.Name from @server.City is
    <span style="color:@(server.IsOnline ? "green" : "red")">
         @(server.IsOnline ? "Online" : "Offline")
    </span>
    &nbsp;
    <button type="button" 
            class="btn @(server.IsOnline? "btn-outline-danger": "btn-outline-success")"
            @onclick="()=> {HandleServerUpdate(server.Id);}">
       @(server.IsOnline?"Turn Off":"Turn On")
    </button>
    &nbsp;

    @if (server.IsOnline)
    {
        Random random = new Random();
        int randomNumber = random.Next(0, 500);
        <text>@randomNumber</text>
    }
    else
    {
        <text>N/A</text>
    }

    &nbsp;
    <a href="/servers/edit/@server.Id" class=" btn btn-link">Edit</a>
    &nbsp;
    <EditForm Model="server"
              FormName="@($"form-server-{server.Id}")"
              OnValidSubmit="@(()=>{DeleteServer(server.Id);})">
        <button type="submit" class="btn btn-danger">Delete</button>
    </EditForm>
</li>


@code {

    [Parameter]
    public Server? server { get; set; }

    [CascadingParameter(Name = "SelectedCity")]
    public string? SelectedCity { get; set; }


    private void DeleteServer(int serverId)
    {
        if (serverId > 0)
        {
            ServersRepository.DeleteServer(serverId);
            StateHasChanged();
        }
    }

    private void HandleServerUpdate(int serverId)
    {
        server?.IsOnline = !server.IsOnline;
        ServersRepository.UpdateServer(serverId, server);
    }

    private string GetBackgroundColor()
    {
        if(SelectedCity != null)
        {
            switch (this.SelectedCity)
            {
                case "Toronto" : return "powderblue";
                case "Montreal" :return "lightgray";
                case "Ottawa" :return "palegreen";
                case "Calgary" :return "pink";
                case "Halifax" :return "white";
                default:
                    return "white";
            }
        }
        else
        {
            return "white";
        }
    }
}
